@page
@model Proiect_MP1.Pages.Evenimente.CreateModel

@{
    ViewData["Title"] = "Creare";
}

<h1>Crează</h1>

<h4>Eveniment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Eveniment.Nume" class="control-label"></label>
                <input asp-for="Eveniment.Nume" class="form-control" />
                <span asp-validation-for="Eveniment.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eveniment.Descriere" class="control-label"></label>
                <input asp-for="Eveniment.Descriere" class="form-control" />
                <span asp-validation-for="Eveniment.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eveniment.Locatie" class="control-label"></label>
                <input asp-for="Eveniment.Locatie" class="form-control" />
                <span asp-validation-for="Eveniment.Locatie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eveniment.DataInceput" class="control-label"></label>
                <input asp-for="Eveniment.DataInceput" class="form-control" />
                <span asp-validation-for="Eveniment.DataInceput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eveniment.DataSfarsit" class="control-label"></label>
                <input asp-for="Eveniment.DataSfarsit" class="form-control" />
                <span asp-validation-for="Eveniment.DataSfarsit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eveniment.Pret" class="control-label"></label>
                <input asp-for="Eveniment.Pret" class="form-control" />
                <span asp-validation-for="Eveniment.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crează" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Înapoi la listă</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
